html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color:   #fffacd;
    color: #432000;
    user-select: none;

    /* min-height: 100vh;
    display: flex;
    flex-direction: column; */
}
.footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: auto;
    /* display:flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    width: 100%;
    height: 50px; */
}


.container {
    display: flex;
    flex-direction: column;
    max-width:330px;
    margin: 30px auto;
}

img {
    width: 150px;
    border-radius: 30px;

     margin: 0 auto;
}

input {
    color:#432000;
    background-color:   #f0e68c;
    border: 0;
    
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    
    text-align: center;
  
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #f08080;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family:cursive;
}

button:hover {
    background-color: #dc143c;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    font-family:cursive;
}

ul li:hover {
    background-color:#f0e68c;
    cursor: pointer;
}
